language: node_js
cache: npm
branches:
  only:
    - master
notifications:
  email:
    recipients:
      - saiichihashimoto@gmail.com
    on_success: never
    on_failure: always
script: npm test && npm run build && npx lint-my-app lint
after_script:
  - cat ./coverage/lcov.info | npx coveralls
jobs:
  include:
    - stage: test
      if: type = pull_request
    - stage: release
      if: type = push
      deploy:
        provider: script
        skip_cleanup: true
        script:
          - npm run build && npx semantic-release
